.cart-2021 {
    background: 0 0;
    border: none;
    box-shadow: none;
    padding: 30px 10px!important;
}
.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}
.title-n {
    width: 100%;
    float: left;
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
}
.cart-content-2021, #form-send-cart {
    width: 100%;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.m-0 {
    margin: 10px 0;
}
.cart-content-2021 .cart-content-2021-left {
    width: 72%;
    float: left;
}
.cart-content-2021 .header-cart-ct-left {
    width: 100%;
    float: left;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.cart-content-2021 .header-cart-ct-left div {
    font-size: 1.4rem;
    color: #000;
    line-height: 19px;
}
.cart-content-2021 .cart-col-product {
    width: calc(100% - 465px);
    float: left;
    padding-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.cart-content-2021 .cart-col-price {
    width: 185px;
    float: left;
}
.cart-content-2021 .cart-col-quantity, .cart-content-2021 .cart-col-total-price {
    width: 125px;
    float: left;
}
.cart-content-2021 .cart-col-total-price {
    width: 125px;
    float: left;
}
.cart-content-2021 .cart-col-delete {
    width: 30px;
    text-align: right;
}
.cart-content-2021 .cart-col-product .fake-checkbox {
    width: 18px;
    height: 18px;
    border: 1px solid #c4c4cf;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px 0 0;
    position: relative;
    z-index: 1;
    color: #c4c4cf;
    background: 0 0;
    cursor: pointer;
}
.cart-content-2021 .cart-col-product .fake-checkbox.active::after {
    transform: scale(1) rotate(-45deg);
}
.cart-content-2021 .cart-col-product .fake-checkbox::after {
    content: "";
    display: block;
    position: absolute;
    left: 2px;
    top: 3px;
    width: 12px;
    height: 6px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: scale(0) rotate(-45deg);
    transition: transform .3s ease 0s;
}
.delete-from-cart, .new-cart-del-shopping-btn.new-2021 {
    display: inline-block;
    position: relative;
}
.delete-from-cart .canh-bao-het-hang, .new-cart-del-shopping-btn.new-2021 .canh-bao-het-hang {
    top: 30px;
    right: -26px;
    z-index: 10;
}
.canh-bao-het-hang, .canh-bao-het-hang:before {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.canh-bao-het-hang {
    /* opacity: 0; */
    visibility: hidden;
    position: absolute;
    top: 55px;
    right: 0;
    white-space: nowrap;
    background: #222;
    color: #fff;
    padding: 8px 12px!important;
    border-radius: 5px;
    font-size: 1.4rem;
    text-align: left;
}
.delete-from-cart:hover .canh-bao-het-hang, .delete-from-cart:hover .canh-bao-het-hang:before, .new-cart-del-shopping-btn.new-2021:hover .canh-bao-het-hang, .new-cart-del-shopping-btn.new-2021:hover .canh-bao-het-hang:before{
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.canh-bao-het-hang, .canh-bao-het-hang:before {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.canh-bao-het-hang:before {
    content: "";
    position: absolute;
    top: -16px;
    right: 27px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #222;
}
.cart-content-2021 .new-cart-items-row {
    width: 100%;
    float: left;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.new-cart-items-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #fff;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    margin-bottom: 15px;
}
.cart-content-2021 .cart-col-product {
    width: calc(100% - 465px);
    float: left;
    padding-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.cart-content-2021 .cart-col-price {
    width: 185px;
    float: left;
}
.cart-content-2021 .cart-col-quantity, .cart-content-2021 .cart-col-total-price {
    width: 125px;
    float: left;
}
.cart-content-2021 .cart-col-delete {
    width: 30px;
    text-align: right;
}
.cart-content-2021 .cart-col-product .fake-checkbox.active {
    border-color: #0b74e5;
    background-color: #0b74e5;
}
.cart-content-2021 .cart-col-product .fake-checkbox {
    width: 18px;
    height: 18px;
    border: 1px solid #c4c4cf;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px 0 0;
    position: relative;
    z-index: 1;
    color: #c4c4cf;
    background: 0 0;
    cursor: pointer;
}
.cart-content-2021 .new-cart-items-row .cart-col-product .cart-n-p-img {
    width: 90px;
    float: left;
    margin-right: 10px;
}
.cart-content-2021 .new-cart-items-row .cart-col-product .cart-n-p-info {
    width: calc(100% - 118px);
    float: left;
}
.cart-content-2021 .cart-col-product .fake-checkbox.active::after {
    transform: scale(1) rotate(-45deg);
}
.cart-content-2021 .cart-col-product .fake-checkbox::after {
    content: "";
    display: block;
    position: absolute;
    left: 2px;
    top: 3px;
    width: 12px;
    height: 6px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: scale(0) rotate(-45deg);
    transition: transform .3s ease 0s;
}
.cart-content-2021 .new-cart-items-row .cart-col-product .cart-n-p-name {
    width: 100%;
    float: left;
    font-size: 1.4rem;
    color: #000;
    margin-bottom: 10px;
    word-break: break-all;
}
.cart-n-p-sku {
    display: block;
    margin-bottom: 1em;
}
#price-discount, .cart-col-total-price b, .cart-n-p-sku b, .total-cart-price {
    font-weight: 600;
}
.cart-content-2021 .new-cart-items-row .cart-col-product .cart-n-p-buy-later {
    float: left;
    font-size: 1.4rem;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
}
.complete-h-pop-2 {
    width: 650px;
    float: left;
    padding: 0 20px;
    line-height: 60px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background: #464646;
    position: fixed;
    z-index: 9999;
    bottom: 100px;
    right: -650px;
    -webkit-transition: .5s;
    transition: .5s;
}
.cart-content-2021 .new-cart-items-price {
    color: #000;
    margin-right: 5px;
    font-weight: 600;
}
.new-cart-items-price {
    font-size: 1.8rem;
    font-weight: 700;
    color: #ed1b24;
}
.cart-content-2021 .new-cart-items-old-price {
    font-size: 1.4rem;
    color: #888;
    text-decoration: line-through;
}
.cart-content-2021 .new-cart-quantity {
    float: left;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.new-cart-quantity {
    margin: 0 10px;
}
.cart-col-quantity .new-cart-quantity a {
    border-color: #e8e8e8;
    border-radius: 2px;
}
.new-cart-quantity a {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 27px;
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid #dfdfdf;
    font-weight: 700;
}
.cart-col-quantity .new-cart-quantity input.buy-quantity {
    font-size: 16px;
    font-weight: 500;
}
.cart-content-2021 .new-cart-quantity input {
    margin-left: -1px;
    margin-right: -1px;
}
.new-cart-quantity input {
    display: inline-block;
    width: 40px;
    height: 32px;
    text-align: center;
    border: 1px solid #dfdfdf;
    margin-left: -5px;
    margin-right: -4px;
    font-weight: 700;
}
.hnc-svg-icon {
    font-size: 1.4rem;
    width: 10px;
    height: 10px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    fill: #000;
}
.cart-content-2021 .total-item-price {
    font-size: 16px;
    color: #ee2724;
    font-weight: 600;
}
.cart-content-2021 .cart-content-2021-right {
    width: calc(28% - 10px);
    float: right;
    height: 51vh;
    position: -webkit-sticky;
    position: sticky;
    top: 75px;
}
.box-cart-address {
    width: 100%;
    float: left;
    border-radius: 5px;
    background: #fff;
    padding: 10px 10px 5px;
    margin-bottom: 10px;
    overflow: hidden;
}
.box-cart-total-price {
    width: 100%;
    float: left;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 10px;
    overflow: hidden;
}
.button-buy-submit-cart {
    width: 100%;
    float: left;
    text-align: center;
    border: none;
    line-height: 40px;
    border-radius: 2px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    background: #243a76;
}
.box-cart-address .title-bca-n {
    width: 100%;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    color: #000;
    font-weight: 700;
    margin-bottom: 20px;
}
.box-cart-address .title-bca-n a {
    font-weight: 400;
    font-size: 1.4rem;
    color: #4281f8;
}
.box-cart-address .bca-n-name-phone {
    width: 100%;
    float: left;
    margin: 0 0 10px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #000;
}
.box-cart-address .bca-n-add {
    width: 100%;
    float: left;
    margin: 0 0 10px;
    font-size: 14px;
}
.box-cart-address .bca-n-name-phone span.c-chia {
    font-weight: 300;
    margin: 0 15px;
}
.box-cart-address .bca-n-add {
    width: 100%;
    float: left;
    margin: 0 0 10px;
    font-size: 1.2rem;
}
.box-cart-address .voucher {
    width: 100%;
    float: left;
}
.voucher {
    display: block;
}
.box-cart-address .voucher-ct {
    width: 100%;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}
.box-cart-address .voucher-ct input#discount_code {
    width: calc(100% - 73px);
    float: left;
    height: 36px;
    outline: 0;
    padding: 0 10px;
    border: 1px solid #e1e1e1;
    border-right: none;
    border-radius: 3px 0 0 3px;
}
input#discount_code {
    width: 75%;
    border-radius: 3px;
    border: 1px solid #bbb;
    line-height: 29px!important;
    padding-left: 10px;
    height: 41px;
    outline: 0;
    display: inline-block;
    margin-bottom: 0;
}
.box-cart-address .voucher-ct a.button.button-check-discount.js-apply-discount-code {
    width: 75px;
    padding: 0;
    line-height: 36px;
    text-align: center;
    float: right;
    border: none;
    border-radius: 0 3px 3px 0;
    font-weight: 500;
}
a.button.button-check-discount.js-apply-discount-code {
    width: calc(100% - 75% - 10px);
    border: 0;
    font-size: 13px;
    display: inline;
    cursor: pointer;
    background: #243a76;
    color: #fff;
    padding: 12px;
    margin: 0;
    border-radius: 3px;
    text-align: center;
}
.button-buy-submit-cart {
    width: 100%;
    float: left;
    text-align: center;
    border: none;
    line-height: 40px;
    border-radius: 2px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    background: #243a76;
}
.box-cart-total-price p {
    width: 100%;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 15px 10px 10px;
    border-bottom: solid 1px #e1e1e1;
    font-size: 1.4rem;
    margin: 0;
}
.box-cart-total-price p span.red-b {
    font-size: 1.4rem;
    font-weight: 700;
    color: #ee2724;
}
.box-cart-total-price .cart-vat {
    width: 100%;
    float: left;
    padding: 10px 15px 10px 10px;
    text-align: right;
    font-size: 1.4rem;
}
.box-cart-total-price p:nth-child(3) {
    border: none;
    padding-bottom: 5px;
}
.popup-not-select-cart {
    width: 460px;
    float: left;
    height: 140px;
    position: fixed;
    z-index: 999;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-230px,-70px);
    transform: translate(-230px,-70px);
    display: none;
}
.popup-not-select-cart p {
    width: 100%;
    float: left;
    margin: 0 0 20px;
    font-size: 16px;
    font-weight: 500;
}
.popup-not-select-cart button {
    width: 100%;
    float: left;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #233b76;
    color: #233b76;
    border-radius: 6px;
    background: #fff;
    padding: 0;
}
.bg-popup-not-select-cart {
    width: 100%;
    height: 100%;
    float: left;
    position: fixed;
    z-index: 998;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    display: none;
}
.not-item-in-cart {
    width: 100%;
    float: left;
    padding-top: 60px;
    padding-bottom: 75px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 6px;
}
.tk-ct-null {
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.tk-ct-null img {
    margin-bottom: 20px;
}
.tk-ct-null .tk-null-note {
    float: left;
    font-size: 14px;
    margin-bottom: 20px;
}
.tk-btn-submit {
    width: 180px;
    float: left;
    text-align: center;
    border: none;
    line-height: 40px;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    background: #f78d1c;
}